body{
    background-color: hsl(0, 5%, 22%);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
}
body .box{
    position: relative;
    padding: clamp(1.5rem, 2vw, 3rem);
    aspect-ratio: 1 / 1;
    width: 20vw;
    min-width: 200px;
    transform: rotateZ(45deg);
    display: grid;
    place-items: center;
    /* 
    border: clamp(1.5rem, 2vw, 3rem) solid transparent;
    border-top-color: hsl(17, 61%, 57%);
    border-right-color: hsl(44, 19%, 72%);
    border-bottom-color: hsl(211, 97%, 66%);
    border-left-color: hsl(125, 38%, 75%); 
    */
}
body .box .border{
    width: 100%;
    height: clamp(1.5rem, 2vw, 3rem);
    position: absolute;
}
body .box .border.border-top{
    top: 0;
    left: 0;
    height: clamp(1.5rem, 2vw, 3rem);
    width: 100%;
    background-color: hsla(17, 61%, 57%, 0.7);
}
body .box .border.border-right{
    top: 0;
    right: 0;
    height: 100%;
    width: clamp(1.5rem, 2vw, 3rem);
    background-color: hsla(44, 19%, 72%, 0.7);
}
body .box .border.border-bottom{
    bottom: 0;
    left: 0;
    height: clamp(1.5rem, 2vw, 3rem);
    width: 100%;
    background-color: hsla(211, 97%, 66%, 0.7);
}
body .box .border.border-left{
    top: 0;
    left: 0;
    height: 100%;
    width: clamp(1.5rem, 2vw, 3rem);
    background-color: hsla(125, 38%, 75%, 0.7);
}
body .box .text{
    font-size: clamp(2rem, 4vw, 4rem);
    text-align: center;
    transform: rotateZ(-45deg);
}
body .box .text .subtext{
    font-size: clamp(0.75rem, 1vw, 2rem);
}
body .box span{
    color: hsl(14, 64%, 59%);
}
body .credit{
    position: absolute;
    bottom: 1.25rem;
    color: rgb(209, 209, 209);
}

